.container {
    max-width: 500px;
    margin: 100px auto 0 auto;
    color: #0d03a6;
    background: #eee;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}